<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<!------ Include the above in your HEAD tag ---------->

<form (ngSubmit)="createProduct()" [formGroup]="form" novalidate>
  <div class="container register">
    <div class="row">
      <div class="col-md-12 register-right">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading">Crear un producto</h3>
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="label">Nombre</label>
                  <div class="control has-icons-left has-icons-right">
                    <input type="text" class="input" formControlName="name" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Marca</label>
                  <div class="control has-icons-left has-icons-right">
                    <input type="text" class="input" formControlName="brand" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="label">Descripcion</label>
                  <div class="control has-icons-left has-icons-right">
                    <input type="text" class="input" formControlName="description" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Precio</label>
                  <div class="control has-icons-left has-icons-right">
                    <input type="number" class="input" formControlName="price" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="label">Elige un color</label>
                  <div class="control select has-icons-left has-icons-right">
                    <select formControlName="idColor">
                      <option *ngFor="let color of colors" [ngValue]="color.idColor">
                        {{ color.nameColor}}
                      </option>
                      <option selected="true" hidden>Selecciona un color disponible</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Talla</label>
                  <div class="control select has-icons-left has-icons-right">
                    <select formControlName="size">
                      <option selected="true" hidden>Selecciona una talla disponible</option>
                      <option value="M">M</option>
                      <option value="L">L</option>
                      <option value="XL">XL</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Categoria</label>
                  <div class="control select has-icons-left has-icons-right">
                    <select formControlName="category">
                      <option selected="true" hidden>Seleccionar una categoria</option>
                      <option value="Hombre">Hombre</option>
                      <option value="Mujer">Mujer</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Stock</label>
                  <div class="control has-icons-left has-icons-right">
                    <input type="number" class="input" formControlName="stock" />
                  </div>
                </div>
              </div>

              <div class="form-group" class="col-md-12">
                <label class="label">Imagen</label>
                <div class="control has-icons-left has-icons-right">
                  <input type="text" class="input" formControlName="picture" />
                </div>
              </div>
              <button type="submit" class="btnRegister">Continuar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
