<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
  <div class="container">
    <div class="row">
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area d-flex mb-30">
          <!-- Logo -->
          <div class="footer-logo mr-30 img">
            <a href="#">
              <img src="../../../assets/img/general/cidenet_white_FOOTER.png">
            </a>
          </div>
          <!-- Footer Menu -->
          <div class="footer_menu">
            <ul>
              <li><a href="#">Shop</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Contáctanos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area mb-30">
          <ul class="footer_widget_menu">
            <li><a href="#">Aviso de privacidad</a></li>
            <li><a href="#">Formas de pago</a></li>
            <li><a href="#">Compra segura</a></li>
            <li><a href="#">Uso de cookies</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Terminos y condiciones</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row align-items-end">
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area">
          <div class="footer_heading mb-30">
            <h6>Suscribirse</h6>
          </div>
          <div class="subscribtion_form">
            <form>
              <input type="email" name="mail" class="mail" placeholder="Correo Electrónico">
              <button type="button" class="submit"><i class="fas fa-long-arrow-alt-right"
                  aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area">
          <div class="footer_social_area">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook"
                aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fab fa-instagram"
                aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter"
                aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fab fa-pinterest"
                aria-hidden="true"></i></a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fab fa-youtube-square"
                aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p>

          Copyright &copy;{{ year }} Todos los derechos reservados | Made with <i class="far fa-heart"
            aria-hidden="true"></i> by <a href="https://richardarboleda.com" target="_blank">Richard Arboleda</a>, for
          <a href="https://www.cidenet.com.co/" target="_blank">Cidenet</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- ##### Footer Area End ##### -->
