 <!-- ##### Breadcumb Area Start ##### -->
 <div class="breadcumb_area bg-img" style="background-image: url(../../../../assets/img/bg-img/breadcumb.jpg);">
   <div class="container h-100">
     <div class="row h-100 align-items-center">
       <div class="col-12">
         <div class="page-title text-center">
           <h2>TIENDA</h2>
         </div>
       </div>
     </div>
   </div>
 </div>
 <section class="shop_grid_area section-padding-80">
   <div class="container">
     <div class="row">
       <div class="col-12 col-md-4 col-lg-3">
         <div class="shop_sidebar_area">

           <!-- ##### Single Widget ##### -->
           <div class="widget catagory mb-50">
             <!-- Widget Title -->
             <h6 class="widget-title mb-30">Género</h6>

             <!--  Catagories  -->
             <div class="catagories-menu">
               <ul id="menu-content2" class="menu-content collapse show">
                 <!-- Single Item -->
                 <li data-toggle="collapse" data-target="#clothing">
                   <a href="#">Por género</a>
                   <ul class="sub-menu collapse show" id="clothing">
                     <li><a routerLink="/shop/Hombre">Hombres</a></li>
                     <li><a routerLink="/shop/Mujer">Mujeres</a></li>
                   </ul>
                 </li>
               </ul>
             </div>
           </div>

           <!-- ##### Single Widget ##### -->
           <div class="widget catagory mb-50">
             <!-- Widget Title -->
             <h6 class="widget-title mb-30">Categorías</h6>

             <!--  Catagories  -->
             <div class="catagories-menu">
               <ul id="menu-content2" class="menu-content collapse show">
                 <!-- Single Item -->
                 <li data-toggle="collapse" data-target="#clothing">
                   <a href="#">Prendas</a>
                   <ul class="sub-menu collapse show" id="clothing">
                     <li><a href="#">Vestidos</a></li>
                     <li><a href="#">Blusas</a></li>
                     <li><a href="#">Camisetas</a></li>
                     <li><a href="#">Chaquetas</a></li>
                     <li><a href="#">Hoodies</a></li>
                     <li><a href="#">Polo</a></li>
                   </ul>
                 </li>
               </ul>
             </div>
           </div>

           <div>
             <p><button class="btn essence-btn" (click)="getAllProduct()">Eliminar filtros</button></p>
           </div>

           <!-- ##### Single Widget ##### -->
           <div class="widget color mb-50">
             <!-- Widget Title 2 -->
             <p class="widget-title2 mb-30">Colores</p>
             <div class="widget-desc">
               <ul class="d-flex">
                 <li><a href="#" (click)="getByColor(1)" class="color1"></a></li>
                 <li><a href="#" (click)="getByColor(2)" class="color2"></a></li>
                 <li><a href="#" (click)="getByColor(3)" class="color3"></a></li>
                 <li><a href="#" (click)="getByColor(4)" class="color4"></a></li>
                 <li><a href="#" (click)="getByColor(5)" class="color5"></a></li>
                 <li><a href="#" (click)="getByColor(6)" class="color6"></a></li>
                 <li><a href="#" (click)="getByColor(7)" class="color7"></a></li>
                 <li><a href="#" (click)="getByColor(8)" class="color8"></a></li>
                 <li><a href="#" (click)="getByColor(9)" class="color9"></a></li>
                 <li><a href="#" (click)="getByColor(10)" class="color10"></a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>

       <div class="col-12 col-md-8 col-lg-9">
         <div class="shop_grid_product_area">
           <!-- Search Area -->
           <div class="search-area">
             <form action="#" method="post" class="example">
               <input type="text" name="filterProducts" id="headerSearch" placeholder="Escribe para buscar..."  [(ngModel)]="filterProducts">
               <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
             </form>
           </div>
           <div class="row">
             <div class="col-12">
               <div class="product-topbar d-flex align-items-center justify-content-between">
                 <!-- Total Products -->
                 <div class="total-products">
                   <p *ngIf="userActive==true"><span>{{products.length}}</span> Productos encontrados para
                     {{loguedUser.firstName}}</p>
                   <p *ngIf="userActive==false"><span>{{products.length}}</span> Productos encontrados</p>
                 </div>>
               </div>
             </div>
           </div>
           <div class="row">
             <ng-container *ngFor="let product of products | filter: filterProducts">
               <!-- Single Product -->
               <div class="col-12 col-sm-6 col-lg-4">
                 <div class="single-product-wrapper">
                   <!-- Product Image -->
                   <div class="product-img">
                     <img src="{{product.picture}}" alt="">
                     <!-- Favourite -->
                     <div class="product-favourite">
                       <a href="#" class="favme fa fa-heart"></a>
                     </div>
                   </div>

                   <!-- Product Description -->
                   <div class="product-description">
                     <span>{{product.brand}}</span>
                     <a routerLink="/productDetails/{{product.idProduct}}">
                       <p *ngIf="product.stock <= 0" style="font-size: 10; color: red;">{{product.name}} -
                         {{product.stock}}</p>
                       <p *ngIf="product.stock > 0">{{product.name}} - {{product.stock}}</p>
                     </a>
                     <p class="product-price">${{product.price}}</p>

                     <!-- Hover Content -->
                     <div class="hover-content">
                       <!-- Add to Cart -->
                       <div class="add-to-cart-btn">
                         <button (click)="addProductToCart(product)" *ngIf="userActive==true"
                           class="btn essence-btn">Añadir al carrito</button>
                         <button (click)="clientNotLogued()" *ngIf="userActive==false" class="btn essence-btn">Añadir al
                           carrito</button>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </ng-container>
           </div>
         </div>
         <!-- Pagination -->
         <nav aria-label="navigation">
           <ul class="pagination mt-50 mb-70">
             <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
             <li class="page-item"><a class="page-link" href="#">1</a></li>
             <li class="page-item"><a class="page-link" href="#">2</a></li>
             <li class="page-item"><a class="page-link" href="#">3</a></li>
             <li class="page-item"><a class="page-link" href="#">...</a></li>
             <li class="page-item"><a class="page-link" href="#">21</a></li>
             <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
           </ul>
         </nav>
       </div>
     </div>
   </div>
 </section>
 <!-- ##### Shop Grid Area End ##### -->
