<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>
<div class="right-side-cart-area">
  <!-- Cart Button -->
  <div class="cart-button">
    <a href="#" id="rightSideCart"><img src="../../../assets/img/core-img/bag.svg" alt="">
      <span>{{(myCart$ | async)?.length}}</span></a>
  </div>

  <div class="cart-content d-flex">
    <!-- Cart List Area -->
    <div class="cart-list">
      <!-- Single Cart Item -->
      <div class="single-cart-item" *ngFor="let product of (myCart$ | async)">
        <div >
          <span class="product-remove"><i (click)="deleteCart(product)" class="fa fa-close"
              aria-hidden="true"></i></span>
        </div>
        <a routerLink="/productDetails/{{product.idProduct}}" class="product-image">
          <img src="../../../assets/img/product-img/product-1.jpg" class="cart-thumb" alt="">
          <!-- Cart Item Desc -->
          <div class="cart-item-desc">
            <span class="badge">{{product.brand}}</span>
            <h6>{{product.name}}</h6>
            <p class="size">{{product.size}}</p>
            <p class="color">{{product.idColor[0].nameColor}}</p>
            <p class="price">$ {{product.price}}</p>
          </div>
        </a>
      </div>
    </div>
    <!-- Cart Summary -->
    <div class="cart-amount-summary">
      <h2>Resumen de compra</h2>
      <ul class="summary-table">
        <li><span>Subtotal:</span> <span>$ {{(finalPrice$ | async)}}</span></li>
        <li><span>Envío:</span> <span>Free</span></li>
        <li><span>Descuento:</span> <span>-15%</span></li>
        <li><span>Total:</span> <span>$232.00</span></li>
      </ul>
      <div class="checkout-btn mt-100">
        <a (click)="saveCart()" class="btn essence-btn">Confirmar comprar</a>
      </div>
    </div>
  </div>
</div>
<!-- ##### Right Side Cart End ##### -->
