/* You can add global styles to this file, and also import other style files */
body {
    /*background-image: url("assets/img/moda1.jpg");
    display: inline;
    margin: auto;
    background-size: 1350px 800px;*/
}

html, body { height: 100%; }
body { margin-top: 5%; font-family: Roboto, "Helvetica Neue", sans-serif; }
