<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area bg-img background-overlay" style="background-image: url(../../../../assets/img/bg-img/slide-01.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h6>Cidenet Shop</h6>
                    <h2 *ngIf="userActive==false">Nueva Coleccion</h2>
                    <h2 *ngIf="userActive==true">¡Hola {{loguedUser.firstName}}!<br>¿Quieres ver<br>nuestra coleccion?</h2>
                    <a routerLink="/shop" class="btn essence-btn">Ver coleccion</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Welcome Area End ##### -->
